/* This is for your Custom Content. */

html, body {
  background: url(../../media/bgs/body.png) repeat ;
}

strong {
  color: #d8d8d8;
}

.content {
  p, li {
    line-height:25px;
  }
  p {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  ol ol {
    list-style: lower-roman;
  }
  ul ul li:not(:last-child),
  ul ol li:not(:last-child),
  ol ul li:not(:last-child),
  ol ol li:not(:last-child) {
    padding-bottom: 10px;
  }
}

a.btn, a.btn.disabled {
  &:hover {
    color: rgba(255, 255, 255, 1.0);
  }
}

.post {
  margin-bottom: 20px;
}

.post > .title::before
{
  content: "> ";
}

.post > .title
{
  padding-bottom: 5px;
}

.post {
  @include box-shadow(
     rgba(255, 255, 255, 0.1) 0 1px 0, 
     rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset
  );
  background: ligthen(#202020, 10%);
  background-color: lighten(rgba(0, 0, 0, 0.3), 10%);
  border:none;
  padding: 10px 20px 10px;
  margin: 0px -20px 20px;
  @include border-top-left-radius;
  @include border-top-right-radius;
  @include border-bottom-left-radius;
  @include border-bottom-right-radius;
}


ul, ol
{
  margin-bottom: 0px;
}

h1, h2
{
  margin-top: 15px;
}

h1:first-child, h2:first-child
{
  margin-top: 0px;
}

pre.prettyprint
{
  margin-top: 18px;
}
