/* This is for your Custom Content. */

html, body {
  background: url(../../media/bgs/body.png) repeat ;
}

strong {
  color: #d8d8d8;
}

.content {
  p, li {
    line-height:25px;
  }
  p {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  ol ol {
    list-style: lower-roman;
  }
  ul ul li:not(:last-child),
  ul ol li:not(:last-child),
  ol ul li:not(:last-child),
  ol ol li:not(:last-child) {
    padding-bottom: 10px;
  }
}

a.btn, a.btn.disabled {
  &:hover {
    color: rgba(255, 255, 255, 1.0);
  }
}

.post {
  margin-bottom: 20px;
}

.post > .title::before
{
  content: "> ";
}

ul, ol
{
  margin-bottom: 0px;
}
